<!DOCTYPE html>
<html>
<head>
  <title>APOD</title>
</head>
<body>
  <h1>Astronomy Picture of the Day</h1>
  <img src="{{ apodData.url }}" alt="APOD"><br><br>
  <h2>{{ apodData.title }}</h2>
  <p>{{ apodData.explanation }}</p>

{{!-- <script>
    // Fetch APOD data and update the HTML
    fetch('http://localhost:3000/apod')
      .then(response => response.json())
      .then(data => {
        const imageContainer = document.getElementById('image-container');
        const { url, title, explanation } = data;

        const imageElement = document.createElement('img');
        imageElement.src = url;
        imageElement.alt = title;

        const titleElement = document.createElement('h2');
        titleElement.textContent = title;

        const explanationElement = document.createElement('p');
        explanationElement.textContent = explanation;

        imageContainer.appendChild(imageElement);
        imageContainer.appendChild(titleElement);
        imageContainer.appendChild(explanationElement);
      })
      .catch(error => {
        console.error(error);
      });
  </script> --}}

</body>
</html>

