<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    {{!-- <h1>Home</h1>
    <h2>hello secret {{naming}}</h2>
     --}}

    <script>
    // Fetch APOD data and update the HTML
    fetch('http://localhost:3000/apod')
      .then(response => response.json())
      .then(data => {
        const imageContainer = document.getElementById('image-container');
        const { url, title, explanation } = data;

        const imageElement = document.createElement('img');
        imageElement.src = url;
        imageElement.alt = title;

        const titleElement = document.createElement('h2');
        titleElement.textContent = title;

        const explanationElement = document.createElement('p');
        explanationElement.textContent = explanation;

        imageContainer.appendChild(imageElement);
        imageContainer.appendChild(titleElement);
        imageContainer.appendChild(explanationElement);
      })
      .catch(error => {
        console.error(error);
      });
  </script>
  

</body>
</html>